extends layout/base.pug

block prepend header
    h2 Formulaie d'inscription 
    form(method="post")
        div(class="form-group")
            label(for="mot_de_pass") Veuillez saisir votre mot de passe :
            input(type="password" name="mot_de_passe" id="mot_de_passe")
        div(class="form-group")
            label(for="nom") Veuillez saisir votre Nom :
            input(type="text" name="nom" id="nom")
            label(for="prnom") Prénom :
            input(type="text" name="prenom" id="prenom")
        div(class="form-group")
            label(for="email") Votre adresse électronique :
            input(type="email" name="email" id="email" required class="form-control")
            div(class="form-group")
            button(type="submit" class="btn btn-primary btn-block") Valider 